h1 {
  outline: 1px solid #f00;
}

#btn {
  width: 200px;
  padding: 10px;
  background-color: #f00;
  margin: auto;
  color: #fff;
}

.container {
  width: 960px;
  margin: auto;
  outline: 1px solid #00f;
  text-align: center;
}

#a,
#b,
#operation,
#equals,
#result {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
